.custom-menu {
  height: calc(100vh - 48px);
  width: 290px;
  // background-color: #f4f4f4;
  .ms-Icon {
    margin: 0 14px;
  }
}
.w-100 {
  width: 100%;
}
@media (max-width: 480px) {
  .custom-menu {
    width: 50px;
  }
}